@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  
}
:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#1e1c2a;
    --blue: #14085a;
    --gradient: background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(128,0,26,1) 100%);
    overflow-y: scroll;

}
body{
    color: var(--white);
    background: var(--gradient);
    
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 5px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}
.navigation .logo{
    color: var(--blue);
    font-size: 3.0rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color: white;
    
}
.logo span{
    color: var(--red);
}
.nav-item{
  

}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 1.0em;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: var(--red);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    
}
#bannerprincipal{
  padding: 40px;
  height: 600px;
}
.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
div.wrapper{
  margin-left: 600px;
  margin-top: 120px;
  width: 700px;
}
#textobannerlateral{
  margin-top: 130px;
  position: absolute;
}
#text-h1{
  width: 400px;
  margin-left: 100px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
}
.home-btn:hover{
    background: #fc4c35;
}
.home-img img{
    width: 100%;
}
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;

    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
        
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  left: 50px;
    
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #ffffff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #ffffff;
    
  } 

  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #14085a;
    font-size: 1.31rem;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  
  }
.sobre-nos{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  
  
    
}
.sobre-nos .sobre-nos-h1{
    font-size: 3.0rem;
    text-decoration: underline;
    text-align: center;
    background-color: var(--white);

}
#titulo{
  background-color: white;
  height: 100%;
  width: 100%;
  margin: auto;
  
}

.sobre-nos .sobre-nos-p{
    font-size: 1.5rem;
    text-align: justify;
    
}
.internet{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}
.internet .internet-h1{
  font-size: 3.0rem;
  text-decoration: underline;
  text-align: center;
}
.internet .internet-p{
  font-size: 1.5rem;
  text-align: justify;
}
.mobilidade{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}
.mobilidade .mobilidade-h1{
  font-size: 3.0rem;
  text-decoration: underline;
  text-align: center;
}
.mobilidade .mobilidade-p{
  font-size: 1.5rem;
  text-align: justify;
}
.telefonia{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}
.telefonia .telefonia-h1{
  font-size: 3.0rem;
  text-decoration: underline;
  text-align: center;
}
.telefonia .telefonia-p{
  font-size: 1.5rem;
  text-align: justify;
}
#img-login{
  width: 70px;
  height: 40px;
  margin-left: -70px;
  

}
#img-login:hover{
  background: #d63a25;
  transition: 1s;
  border-radius: 10px;
  padding: 5px;
  
}
#sobre-nos{
  background-image: url(/imagens/fundo2.png);
}
#mobilidade{
  background-image: url(/imagens/fundo3.png);
}
#internet{
  background-image: url(/imagens/fundo4.png);
}
#telefonia{
  background-image: url(/imagens/fundo5.png);
}
footer{
  background-color: aliceblue;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  color: black;
  padding-top: 10px;
}
#titulosobre{
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.5em;
}
#planovendas{
  text-align: center;
  border: 2px solid red;
  background-color: #1e1c2a;
  width: 450px;
  
 
}