

html{
    
}


.box_header{
    background-color: brown;
    margin-right: 20px;
    margin-left: 20px;
    padding: 150PX;
    box-shadow: 2px 2px 2px 2px black;

}
.box1{
    background-color: azure;
    margin-right: 20px;
    margin-left: 20px;
    padding: 150PX;
    box-shadow: 2px 2px 2px 2px black;
}
.box2{
    background-color: aquamarine;
    margin-right: 20px;
    margin-left: 20px;
    padding: 150PX;
    box-shadow: 2px 2px 2px 2px black;
}
.box3{
    background-color: blue;
    margin-right: 20px;
    margin-left: 20px;
    padding: 150PX;
    box-shadow: 2px 2px 2px 2px black;
}